<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Glassmorphism Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <section>
        <div class="leaves">
            <div class="set">
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_01.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_02.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_03.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_04.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_01.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_02.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_03.png') }}" alt="Image1">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='img/leaf_04.png') }}" alt="Image1">
                </div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg" alt="bg">
        <img src="{{ url_for('static', filename='img/girl.png') }}" class="girl" alt="girl">
        <img src="{{ url_for('static', filename='img/trees.png') }}" class="trees" alt="trees">
        <div class="login">
            <h2>Forgot Password</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="error">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            <form action="/reset-password" method="post">
                <div class="inputBox">
                    <input type="text" name="username" placeholder="Enter your username" required>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
            <div class="group">
                <a href="/signin">Back to Sign In</a>
            </div>
        </div>
    </section>
</body>
</html>